name: Deploy MedtechSnipes webpage on push

on:
  push:
    branches:
      - main

permissions:
  contents: write 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.19.1'

      - name: List files in directory
        run: ls medtech-website

      - name: Set environment variable
        run: |
          echo "REACT_APP_AWS_API_GATEWAY_URL=${{ secrets.REACT_APP_AWS_API_GATEWAY_URL }}" >> $GITHUB_ENV
          echo "REACT_APP_AWS_USER_POOLS_ID=${{ secrets.REACT_APP_AWS_USER_POOLS_ID }}" >> $GITHUB_ENV
          echo "REACT_APP_AWS_USER_POOLS_WEB_CLIENT_ID=${{ secrets.REACT_APP_AWS_USER_POOLS_WEB_CLIENT_ID }}" >> $GITHUB_ENV
          echo "REACT_APP_DOMAIN=${{ secrets.REACT_APP_DOMAIN }}" >> $GITHUB_ENV
          echo "REACT_APP_CALLBACK_SIGNIN=${{ secrets.REACT_APP_CALLBACK_SIGNIN }}" >> $GITHUB_ENV
          echo "AWS_API_GATEWAY_URL=${{ secrets.AWS_API_GATEWAY_URL }}" >> $GITHUB_ENV

      - name: Install dependencies
        run: npm install
        working-directory: .

      - name: Build the app
        run: CI=false npm run build
        working-directory: .

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: Website_Deployment